<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">
<listeners>
 
 <listener class-name="listeners.CustomListeners"></listener>
 <listener class-name="org.uncommons.reportng.HTMLReporter" />
 <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
 </listeners>

  <test name="Login Test Case">
    <classes>
      <class name="testcases.Login"/>
      <class name="maven.auto.config.DataDriverProject.AppTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="Opening Session Window">
    <classes>
      <class name="testcases.NVSPA"/>
      <class name="maven.auto.config.DataDriverProject.AppTest"/>
    </classes>
  </test>
    
  
</suite> <!-- Suite -->
